.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  /* background-color: #333; */
}

.menu-item {
  float: left;
}

.menu-item a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu-item a:hover {
  color: #606c71;
  text-decoration: none
}


/* Custom emphasis classes */

del {
  color: #9e0000;
}


/* Custom code classes */
.c-harmful {
  color: #ff9e00 !important;
}

.c-helpful {
  color: #59b550 !important;
}

.c-effective {
  color: #20571a !important;
  font-weight: bold;
}

.c-unknown {
  color: #000000 !important;
}

.c-untested {
  color: #bdbdbd !important;
}


/* Effect size classes */
.bg-positive {
  background-color: #008b49 !important;
  color: #ffffff !important;
  border-width: 2px;
}

.bg-negative {
  background-color: #9e0000 !important;
  color: #ffffff !important;
  border-width: 2px;
}

.bg-unknown {
  background-color: #6c757d !important;
  color: #ffffff !important;
  border-width: 2px;
}

.bg-unk-positive {
  background-color: #6c757d !important; /* rgba(0, 139, 73, 0.3) !important; */
  border-width: 2px;
}

.bg-unk-negative {
  background-color: #6c757d !important; /* rgba(158, 0, 0, 0.3) !important; */
  border-width: 2px;
}